<h1>New games</h1>
<p>This is yours random letters: </p>
<br>
<div id="displayLetters">
  <% @letters.each do |letter| %>
    <div class="case"><%= letter %></div>
  <% end %>
</div>
<br>

<form action="/score" method="post">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<%= hidden_field_tag :letters, @letters %>
  <input type="text" name="attempt">
  <input type="submit">
</form>
